* {
  box-sizing: border-box;
}

body {
  background-color: red;
}

.container {
  display: flex;
  background-color: red;
  min-height: 100vh;
  flex-wrap: wrap;
  margin: 2.5em 8.8em 2.5em;
}

.content-boxes {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  width: 66%;
  flex-direction: column;
}

.travel1 {
  background-color: white;
}

.family {
  background-color: white;
}

.travel2 {
  background-color: white;
}

.lifestyle {
  background-color: white;
}

.entertainment {
  background-color: white;
}

.bio {
  background-color: white;
}

.popular {
  background-color: white;
}

.latest {
  background-color: white;
}

.instagram {
  background-color: white;
}

.aside {
  font-size: 20px;
  text-align: center;
  padding: 10px 15px 10px 10px;
  width: 33%;
  margin-left: 11px;
  flex-direction: column;
  align: left;
}

.content-photo {
  object-fit: cover;
  width: 100%;
  height: 23.5em;
}

.category {
  font-family: Lato;
  font-weight: bold;
  color: #CB613D;
  font-size: 12px;
  margin-top: 3.7em;
}

h2 {
  font-family: Oswald;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -15px;
}

.content-boxes article {
  font-family: Lato;
  font-size: 15px;
  margin: 15px 10px 35px 10px;
  line-height: 1.8;
  padding: 20px;
}

.content-boxes section {
  margin-bottom: 2.1em;
}

button.continue {
  font-family: Lato;
  font-size: 12px;
  font-weight: 650;
  background-color: white;
  border: #CB613D solid 1px;
  width: 160px;
  color: #CB613D;
  padding: 11px;
  letter-spacing: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

h3 {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1px;
}

.hogwarts {
  object-fit: cover;
  width: 100%;
  height: 9.5em;
}

.beachjack {
  border-radius: 50%;
  border: white solid 8px;
  width: 50%;
  align-self: center;
  margin-top: -25%;
}

nav {
  background-color: white;
  padding: 0px 0px 0px 0px;
  border-bottom: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 11px;
}

ul.menu {
  list-style-type: none;
  display: flex;
  align-content: center;
  gap: 21px;
  font-family: Lato;
  font-size: 11px;
  font-weight: 600;
  color: grey;
  padding: 13px;
  margin-left: 9.5%;
  letter-spacing: 1px;
}

ul.icons {
  font-family: FontAwesome;
  list-style-type: none;
  display: flex;
  align-content: center;
  gap: 13px;
  color: #aaaaaa;
  padding: 10px;
  font-size: 13px;
  margin-right: 10%;
}

.aside article {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.6;
  padding: 25px 15px 15px 25px;
  margin: -15px 5px 5px 5px;
}

.bio {
  margin-bottom: 2.5em;
}

ul.sidecons {
  list-style-type: none;
  display: flex;
  gap: 13.5px;
  color: #ccc;
  font-size: 14px;
  padding: 10px 10px 30px 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -6px;
}

.sidecons li {
  border: solid 1px #ccc;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottombar {
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  display: flex;
  padding-left: 2em;
  padding-bottom: 2.8em;
  border-top: solid 1.5px #ccc;
  width: 90%;
  margin: 5px auto;
  justify-content: space-between;
  align-items: center;
}

.bottomicons {
  list-style-type: none;
  display: flex;
  gap: 14px;
  color: #aaaaaa;
  font-size: 16px;
  align-items: center;
}

h4 {
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

.popular {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5em;
}

.popular h3 {
  padding-top: 30px;
}

.popular span {
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  display: flex;
  margin-bottom: 10px;
  margin-left: 30px;
}

.popular img {
  object-fit: cover;
  width: 85%;
  margin-bottom: 8px;
  margin-top: 15px;
  margin-left: 30px;
}

.latest {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5em;
}

.latest span {
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
}

.latest img {
  object-fit: cover;
  width: 100%;
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
