* {
    box-sizing: border-box;
}

body {
    background-color: lightsalmon;
}

.container{
    display: flex;
    background-color: lightsalmon;
    min-height: 100vh;
    flex-wrap: wrap;
    margin: 10%;  
}

.content-boxes{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 67%;
    flex-direction: column;
}

.travel1 {
    background-color: white;
}

.family {
    background-color: white;
}

.travel2 {
    background-color: white;
}

.lifestyle {
    background-color: white;
}

.entertainment {
    background-color: white;
}

.bio {
    background-color: white;
}

.popular {
    background-color: white;
}

.latest {
    background-color: white;
}

.instagram {
    background-color: white;
}

.aside {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 33%;
    flex-direction: column;
    align: left;
}

.blackmountain {
    object-fit: cover;
    width:100%;
}

.category {
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
}

h2 {
    font-family: Oswald;
    font-size: 24px;
}

article {
    font-family: Lato;
    font-size: 14px;
    margin: 10px;
    
}

.continue {
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    background-color: white;
    border: #CB613D solid 1px;
    width: 175px;
    color: #CB613D;
    padding: 8px;
    letter-spacing: 1px;
}

h3 {
    font-family: Oswald;
    font-size: 20px;
    font-weight:500;
}